/* Universal Selector */
* {
    margin: 0;
}
/* Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text-primary-color {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 10px 15px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.section-info {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
/* Adding styles to nav-bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 60px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav-bar > ul {
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style-type: none;
    margin-right: 50px;
}

.nav-bar a {
    text-decoration: none;
    color: #474747;
}

/* Adding styles to header */

.header {
    background-color: #f3e4d9;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 500px;
}

.banner-content p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* about-section */

.about-section {
    background-color: #f3e4d9;
    margin: 130px 0px;
    padding: 130px;
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.about-info {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}